.body {
  overflow-x: hidden; /* hide horizontal overflow */
  overflow-y: auto; /* allow vertical scrolling if needed */
  box-sizing: border-box;
  text-align: left;
  margin: 0;
  padding: 0;
  background: #3139fb;
  background-image: url(/home/jaime/odiso-movie-base/public/noise-light.png);
}

.container {
  //margin: 0 auto;
  display: flex;
  width: 100%;
  height: 72px;
  justify-content: center;
  align-items: center;
}

.noise {
  background: #3139fb;
  background-image: url(/home/jaime/odiso-movie-base/public/noise-light.png);
}
