.body {
  overflow-x: hidden; /* hide horizontal overflow */
  overflow-y: auto; /* allow vertical scrolling if needed */
 /* box-sizing: border-box;*/
  text-align: left;
  margin: 0;
  padding: 0;
  background: #3139fb;
  background-image: url(/home/jaime/odiso-movie-base/public/noise-light.png);
  /*font-family: ABCFavoritMono;*/
  width: 100%;
  height: 100%;
}

.movie-card-tile {
  font-family: marlin-soft-basica;
  //color: white;
  //font-weight: 500;
  //font-size: 24px;
}

.container-jagged {
  position: relative;
  padding: 8px 8px 32px 8px;
  background: #dddccf;
  background: #3139fb;
  background-image: url(/home/jaime/odiso-movie-base/public/noise-light.png);
}
.container-jagged::after {
 /* background: linear-gradient(135deg, #ffffff 16px, transparent 0),
    linear-gradient(225deg, #ffffff 16px, transparent 0);
  background-position: left-bottom;*/
   background: linear-gradient(-45deg, #ffffff 16px, transparent 0),
    linear-gradient(45deg, #ffffff 16px, transparent 0);
  background-position: left-bottom;
  background-repeat: repeat-x;
  background-size: 32px 32px;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
}

.movie-page {
  background: rgb(2, 0, 36);
  /*background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(33, 29, 180, 1) 40%,
    rgba(13, 104, 122, 1) 100%
  );*/
  background-image: url(/home/jaime/odiso-movie-base/public/noise-light.png);
}

.movie-page-text {
  font-family: marlin-soft-basica;
  color: white;
  font-weight: 500;
  font-size: 34px;
}

.second-header {
  font-family: marlin-soft-basice;
  font-weight: 600;
  font-size: 24px;
  color: rgb(49, 57, 251);
  line-height: normal;
  style: normal;
}
.containers {
  //margin: 0 auto;
  display: flex;
  width: 100%;
  height: 48px;
  justify-content: center;
  align-items: center;
  font-family: marlin-soft-basica;
  color: white;
  font-weight: 500;
  font-size: 24px;
}

/*.container:after {
    content: '';
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 100%;
    left: 0px;
    background:
        linear-gradient(-50deg, rgba(0,0,0,0.7) 4px, transparent 0px),
        linear-gradient(50deg, rgba(0,0,0,0.7) 4px, transparent 0px);
    background-size: 10px 10px;
    background-repeat: repeat-x;
}*/

.badge {
  text-decoration: none;
}

.noise {
  background: #3139fb;
  background-image: url(/home/jaime/odiso-movie-base/public/noise-light.png);
}

@font-face {
  font-family: "ABCFavorite";
  src: local("ABCFavorit"),
    url(/home/jaime/odiso-movie-base/src/ABC Favorit/ABCFavorit-Bold.otf)
      format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "marlin-soft-basica";
  src: local("MarlinSoftBasic-Regular"),
    url(/home/jaime/odiso-movie-base/src/marlin-soft-basic/FontMesa - MarlinSoftBasic-Regular.otf)
      format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "marlin-soft-basicb";
  src: local("MarlinSoftBasic-RegularItalic"),
    url(/home/jaime/odiso-movie-base/src/marlin-soft-basic/FontMesa - MarlinSoftBasic-RegularItalic.otf)
      format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "marlin-soft-basicc";
  src: local("MarlinSoftBasicSlant-Regular"),
    url(/home/jaime/odiso-movie-base/src/marlin-soft-basic/FontMesa - MarlinSoftBasicSlant-Regular.otf)
      format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "ABCFavoritd";
  src: local("ABCFavoritMono-Bold"),
    url(/home/jaime/odiso-movie-base/src/ABC Favorit/ABCFavoritMono-Bold.otf)
      format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "ABCFavoritc";
  src: local("ABCFavoritMono-Book"),
    url(/home/jaime/odiso-movie-base/src/ABC Favorit/ABCFavoritMono-Book.otf)
      format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "ABCFavoritb";
  src: local("ABCFavoritMono-BoldItalic"),
    url(/home/jaime/odiso-movie-base/src/ABC Favorit/ABCFavoritMono-BoldItalic.otf)
      format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "ABCFavorita";
  src: local("ABCFavoritMono-BookItalic"),
    url(/home/jaime/odiso-movie-base/src/ABC Favorit/ABCFavoritMono-BookItalic.otf)
      format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "marlin-soft-basice";
  src: local("MarlinSoftBasicSlant-Regular"),
    url(/home/jaime/odiso-movie-base/src/marlin-soft-basic/MarlinSoftSQ-Medium.woff2)
      format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}




h1,
h2,
h3 {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
  text-align: center;
  margin: 100px 0 40px;
}

h2 {
  font-weight: 400;
  margin: 50px 0 10px;
}
